th{
	color:blue;
	background-color:#e3823b;
}
tr{
	background-color:#eba85b;
}
table{
	width:100%;
	border:3px #5442f5;
	border-style:double;
}
summary{
	color:red;
}
body{
	background-color:#a5d5da;
}
p{
	border:7px;
	background-color:#fd5c9d;
}

	
