th{
	color:white;
	background-color:blue;
	height:50px;
	width:60px;
	font-style:bold;
	font-size:30px;
}
td{
	background-color:#c0c0c0;
	text-align:center;
	font-style:bold;
	font-size:25px;
	padding:10px;

}
table,th,td{
	border:3px solid black;
	border-collapse:collapse;
	}
table{
	width:100%;
}
summary{
	font-size:40px;
	font-style:bold;
	text-decoration:underline;
}
body{
	background-color:#00ffff;
}
p{
	border:7px;
	background-color:#fd5c9d;
}

	
